<h1>Monitoring</h1>

<table border="1">
<tr>
    <td>Application</td>
    <td>Interval (cron)</td>
    <td>Link</td>
</tr>

{{#each config.applications}}
<tr>
    <td>{{url}}</td>
    <td>{{interval}}</td>
    <td><a href="/{{name}}">{{name}}</a></td>
</tr>
{{/each}}
</table>
<br/>
<span>Request timeout: {{config.timeout}}</span>


